/* ---- Responsive Screens ---- */
/* ---- Responsive Screens ---- */
:root {
  /* ---- Colors ---- */
  --dm-color-primary: #5e6875;
  --dm-color-secondary: #313c4a;
  --dm-color-highlight-primary: #47cbe3;
  --dm-color-highlight-secondary: #55758d;
  --dm-color-highlight-tertiary: #dcc85e;
  --dm-color-status-primary: #399017;
  --dm-color-status-secondary: #eaaa07;
  --dm-color-status-tertiary: #b23620;
  --dm-link-color-primary: var( --dm-color-highlight-primary );
  --dm-link-color-secondary: var( --dm-color-highlight-secondary );
  --dm-video-color-primary: var( --dm-color-highlight-secondary );
  --dm-video-color-secondary: var( --dm-color-secondary );
  /* ---- Non-Colors ---- */
  --dm-color-black: #000000;
  --dm-color-white: #ffffff;
  --dm-color-gray-lighten: #7e7e7e;
  --dm-color-gray: #222222;
  --dm-color-gray-darken: #141414;
  /* ---- Colors RGB---- */
  --dm-color-primary-rgb: 94, 104, 117;
  --dm-color-secondary-rgb: 49, 60, 74;
  --dm-color-highlight-primary-rgb: 71, 203, 227;
  --dm-color-highlight-secondary-rgb: 85, 117, 141;
  --dm-color-highlight-tertiary-rgb: 220, 200, 94;
  /* ---- Non-Colors RGB ---- */
  --dm-color-black-rgb: 0, 0, 0;
  --dm-color-white-rgb: 255, 255, 255;
  --dm-color-gray-lighten-rgb: 126, 126, 126;
  --dm-color-gray-rgb: 34, 34, 34;
  --dm-color-gray-darken-rgb: 20, 20, 20;
  /* ---- Post Colors ---- */
  --post_color_primary: #5d6977;
  --post_color_secondary: #1b2431;
  --post_color_background: #FFFFFF;
  --post_color_text_on_background: #FFFFFF;
  /* ---- Backgrounds ---- */
  --dm-background-color-primary: var( --dm-color-primary );
  --dm-background-color-secondary: var( --dm-color-secondary );
  --dm-background-color-status-primary: #a9bea3;
  --dm-background-color-status-secondary: #ebe46f;
  --dm-background-color-status-tertiary: #dd966f;
  /* ---- Backgrounds Non-Colors ---- */
  --dm-background-color-black: #000000;
  --dm-background-color-white: #FFFFFF;
  --dm-background-color-gray: #4A4B44;
  --dm-background-color-gray-darken: #141414;
  /* ---- Border Radius ---- */
  --dm-border-radius-primary: 6px;
  --dm-border-radius-secondary: 12px;
  /* Border Color */
  --dm-border-color-primary: #d3d5d6;
  --dm-border-color-secondary: #3b3b3b;
  /* Spacing */
  --dm-spacing-primary: 12px;
  --dm-spacing-secondary: 24px;
  --dm-spacing-tertiary: 36px;
  --dm-spacing-extra-small: 40px;
  --dm-spacing-small: 50px;
  --dm-spacing-medium: 80px;
  --dm-spacing-large: 100px;
  /* ---- Transition ---- */
  --dm-transition: background-color 0.2s ease, color 0.2s ease;
  --dm-transition-svg-fill: fill 0.2s ease;
  --dm-transition-svg-stroke: stroke 0.2s ease;
  /* ---- Fonts ---- */
  --dm-font-family-primary: "Roboto", sans-serif;
  --dm-font-family-secondary: "Gerth", sans-serif;
  --dm-font-family: var(--dm-font-family-primary);
  /* ---- Text Elements ---- */
  --dm-text-extra-small-font-family: var( --dm-font-family-primary );
  --dm-text-extra-small-font-size: 10px;
  --dm-text-extra-small-font-style: regular;
  --dm-text-extra-small-font-weight: 400;
  --dm-text-extra-small-line-height: 120%;
  --dm-text-extra-small-letter-spacing: 0;
  --dm-text-extra-small-color: var( --dm-color-gray );
  --dm-text-small-font-family: var( --dm-font-family-primary );
  --dm-text-small-font-size: 12px;
  --dm-text-small-font-style: regular;
  --dm-text-small-font-weight: 400;
  --dm-text-small-line-height: 160%;
  --dm-text-small-letter-spacing: 0;
  --dm-text-small-color: var( --dm-color-gray );
  --dm-text-medium-font-size: 14px;
  --dm-text-medium-font-style: normal;
  --dm-text-medium-font-weight: normal;
  --dm-text-medium-line-height: 20px;
  --dm-text-medium-color: var( --dm-color-gray );
  --dm-text-default-font-size: 16px;
  --dm-text-default-font-style: normal;
  --dm-text-default-font-weight: normal;
  --dm-text-default-line-height: 24px;
  --dm-text-default-color: var( --dm-color-gray );
  --dm-text-big-font-size: 18px;
  --dm-text-big-font-style: normal;
  --dm-text-big-font-weight: normal;
  --dm-text-big-line-height: 24px;
  --dm-text-big-color: var( --dm-color-gray );
  --dm-text-large-font-size: 24px;
  --dm-text-large-font-style: normal;
  --dm-text-large-font-weight: bold;
  --dm-text-large-line-height: 32px;
  --dm-text-large-color: var( --dm-color-gray );
  --dm-text-heading1-font-family: var( --dm-font-family-primary );
  --dm-text-heading1-font-size: 32px;
  --dm-text-heading1-font-style: regular;
  --dm-text-heading1-font-weight: 700;
  --dm-text-heading1-line-height: 140%;
  --dm-text-heading1-letter-spacing: 0;
  --dm-text-heading1-color: var( --dm-color-black );
  --dm-text-heading2-font-family: var( --dm-font-family-primary );
  --dm-text-heading2-font-size: 29px;
  --dm-text-heading2-font-style: regular;
  --dm-text-heading2-font-weight: 700;
  --dm-text-heading2-line-height: 140%;
  --dm-text-heading2-letter-spacing: 0;
  --dm-text-heading2-color: var( --dm-color-black );
  --dm-text-heading3-font-family: var( --dm-font-family-primary );
  --dm-text-heading3-font-size: 26px;
  --dm-text-heading3-font-style: regular;
  --dm-text-heading3-font-weight: 700;
  --dm-text-heading3-line-height: 140%;
  --dm-text-heading3-letter-spacing: 0;
  --dm-text-heading3-color: var( --dm-color-black );
  --dm-text-heading4-font-family: var( --dm-font-family-primary );
  --dm-text-heading4-font-size: 23px;
  --dm-text-heading4-font-style: regular;
  --dm-text-heading4-font-weight: 700;
  --dm-text-heading4-line-height: 140%;
  --dm-text-heading4-letter-spacing: 0;
  --dm-text-heading4-color: var( --dm-color-black );
  --dm-text-heading5-font-family: var( --dm-font-family-primary );
  --dm-text-heading5-font-size: 20px;
  --dm-text-heading5-font-style: regular;
  --dm-text-heading5-font-weight: 700;
  --dm-text-heading5-line-height: 140%;
  --dm-text-heading5-letter-spacing: 0;
  --dm-text-heading5-color: var( --dm-color-black );
  --dm-text-heading6-font-family: var( --dm-font-family-primary );
  --dm-text-heading6-font-size: 18px;
  --dm-text-heading6-font-style: regular;
  --dm-text-heading6-font-weight: 700;
  --dm-text-heading6-line-height: 140%;
  --dm-text-heading6-letter-spacing: 0;
  --dm-text-heading6-color: var( --dm-color-black );
}

.cookie-notice {
  display: none;
}

body[java-script=true] .cookie-notice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  gap: var(--dm-spacing-secondary);
  width: 100%;
  max-width: 100%;
  background-color: var(--dm-color-secondary);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-60%, var(--dm-background-color-gray-darken)), color-stop(25%, var(--dm-background-color-secondary)));
  background-image: linear-gradient(to bottom, var(--dm-background-color-gray-darken) -60%, var(--dm-background-color-secondary) 25%);
}