<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Denis Marginas - Portfolio</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="icon" type="image/x-icon" href="../../../content/img/favicon/DM - Favicon.ico">
  </head>
  <body id="body">
    <header id="header">
      <section>

        <a href="./index.html">
          <div class="dm-logo">
            <img class="dm-logo-front" src="../../../content/img/logo/DM Logo - Person.png" alt="Denis Marginas Personal Icon">
            <img class="dm-logo-background" src="../../../content/img/logo/DM Logo - Body.png" alt="Denis Marginas Background Icon">
          </div>
          <p>
            <span>Denis</span> 
            <span>Marginas</span>
          </p>
        </a>

        <div class="dm-menu">

        </div>
      </section>
    </header>
