@mixin container() {
  width: 100%;
  margin: 0 auto;
  padding: 0 var( --dm-spacing-secondary );
  max-width: 1600px;

  @media only screen and ( max-width: --screen-phone-large ) {
    padding-left: var( --dm-spacing-primary );
    padding-right: var( --dm-spacing-primary );
  }
}

@mixin reset-list() {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@mixin remove-container() {
  width: auto;
  margin: 0;
  padding: 0;
  max-width: unset;
}

@mixin cover-image() {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

@mixin dm-icon-primary() {
  &[data-svg-type="fill"] {
    fill   : var( --dm-icon-primary-color );
  }

  &[data-svg-type="stroke"] {
    stroke : var( --dm-icon-primary-color );
  }
}

@mixin box-sizing ( $v: border-box ) {
  -webkit-box-sizing : $v;
  box-sizing         : $v;
}

@mixin box-shadow ( $v ) {
  -webkit-box-shadow : $v;
  box-shadow         : $v;
}

@mixin border-radius ( $v ) {
  -webkit-border-radius : $v;
  border-radius         : $v;
}

@mixin transform ( $v ) {
  -ms-transform     : $v;
  -webkit-transform : $v;
  transform         : $v;
}

@mixin transition ( $v ) {
  -webkit-transition : $v;
  -o-transition      : $v;
  transition         : $v;
}

@mixin animation ( $v ) {
  -webkit-animation : $v;
  -moz-animation    : $v;
  -o-animation      : $v;
  animation         : $v;
}

@mixin user-select( $v ) {
  -webkit-touch-callout : $v;
  -webkit-user-select   : $v;
  -moz-user-select      : $v;
  -ms-user-select       : $v;
  user-select           : $v;
}

@mixin fix-size( $v) {
  width     : $v;
  height    : $v;
  min-width : $v;
  min-height: $v;
  max-width : $v;
  max-height: $v;
}

@mixin fix-width( $v ) {
  width    : $v;
  min-width: $v;
  max-width: $v;
}

@mixin fix-height( $v ) {
  height    : $v;
  min-height: $v;
  max-height: $v;
}

@mixin flex-center() {
  display        : flex;
  align-items    : center;
  justify-content: center;
}

@mixin limit-line-text( $v ) {
  display: -webkit-box;
  -webkit-line-clamp: $v;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin svg-color( $v ) {
  &[data-svg-type="fill"] {
    > path {
      fill: $v;
    }
  }
  &[data-svg-type="stroke"] {
    > path {
      stroke: $v;
    }
  }
}
