@import "../../functions/mixins.scss";
@import "../../functions/functions.scss";


body[java-script="true"] {
  /*
  overflow-x: hidden;
  cursor:none !important;

  * {
    cursor:none !important;
  }

  .cursor {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
    z-index: 999999;

    &:after {
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      border-radius: 50%;
      opacity: .5;
      top: -8px;
      left: -8px;
      animation: cursorAnim2 .5s infinite alternate;
    }
    &.expand:before {
      content: "";
      width: 38px;
      height: 38px;
      position: absolute;
      border-radius: 50%;
      top: -12.5px;
      left: -12.5px;
      animation: cursorAnim3 .5s forwards;
      border-style: solid;
      opacity: .5;
      outline-style: solid;
      filter: blur(1px);
    }
  }

  &:not(:hover){
    .cursor {
      display: none;
    }
  }
}


@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(.7);
  }
}

@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(.4);
  }
}

@keyframes cursorAnim3 {
  0% {
    border-width: 0px;
    outline-width: 0px;
  }
  50% {
    border-width: 4px;
    outline-width: 4px;
  }
  100% {
    border-width: 0px;
    outline-width: 0px;
  }
}



body[java-script="true"], body.theme-light {
  .cursor {
    border: 2px solid var( --dm-color-gray );

    &:after {
      border: 8px solid var( --dm-color-gray-lighten );
    }
    &.expand:before {
      border-color: var( --dm-color-gray-lighten );
      outline-color: var( --dm-color-white );
    }
  }
}
body[java-script="true"].theme-dark {
  .cursor {
    border: 2px solid var( --dm-color-gray-lighten );

    &:after {
      border: 8px solid var( --dm-color-white );
    }
    &.expand:before {
      border-color: var( --dm-color-white );
      outline-color: var( --dm-color-gray-darken );
    }
  }
  */
}