@import "../../functions/mixins.scss";
@import "../../functions/functions.scss";

.dm-workstation-products {
  @include padding-x();
  overflow: hidden;
  position: relative;

  > .dm-background-wave {
    @include svg-color(#2866c8);
    margin-left: calc( -1 * var( --dm-spacing-secondary ) );
    margin-right: calc( -1 * var( --dm-spacing-secondary ) );

  }
  > container {
    > ul {
      @include reset-list();
      align-items: center;
      display: grid;
      grid-template-columns: 1.1fr 1fr;
      gap: var(--dm-spacing-large);
      padding: 0 var(--dm-spacing-tertiary);

      > li {
        > img {
          width: auto;
          max-width: 100%;
          height: auto;
        }
        > h2 {
          @include dm-font-heading1();
          --dm-text-heading1-font-size: 58px;
          --dm-text-heading1-font-family: var(--dm-font-family-secondary);
        }
        > ul {
          @include reset-list();
          padding: var( --dm-spacing-primary );

          > li {
            @include flex-row();
            align-items: center;
            gap: var( --dm-spacing-primary );

            > a {
              @include dm-font-default();
              padding: var(--dm-spacing-primary) 0;
              word-break: break-word;
              text-decoration: none;
            }
            > svg {
              @include svg-color(#2866c8);
              @include fix-size(16px);
            }
          }
        }
      }
    }
    > .products {
      @include flex-row();
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: var(--dm-spacing-large);
      padding: var(--dm-spacing-large) var(--dm-spacing-tertiary);

      > .product {
        @include flex-center();
        flex-direction: column;
        justify-content: space-between;
        height: 400px;

        > .product-image {
          @include flex-center();
          padding: var( --dm-spacing-secondary );
          width: 100%;
          height: 100%;
          max-height: 400px;
          overflow: hidden;
          position: relative;
          box-sizing: border-box;

          > img {
            &:nth-child(1) {
              max-width: 90%;
              max-height: 90%;
              width: auto;
              height: auto;
              opacity: 1;
              transition: opacity 0.3s;
            }
            &:nth-child(2) {
              position: absolute;
              max-width: 80%;
              max-height: 80%;
              width: auto;
              height: auto;
              opacity: 0;
              transition: opacity 0.3s;
            }
          }
        }
        > span {
          @include flex-column();
          @include dm-font-medium();
          --dm-text-medium-color: var( --dm-color-white );
          --dm-text-medium-font-weight: 600;
          background-color: #2866c8;
          padding: var(--dm-spacing-secondary) var( --dm-spacing-primary );
          margin-bottom: -12px;
          text-align: center;
          width: 80%;
        }
        &#cpu {
          > .product-image {
            > img {
              &:nth-child(1) {
                max-width: 50%;
                max-height: 50%;
              }
            }
          }
          &:hover {
            > .product-image {
              > img {
                &:nth-child(1) {
                  max-width: 40%;
                  max-height: 40%;
                }
              }
            }
          }
        }
        &#gpu {
          &:hover {
            > .product-image {
              > img {
                &:nth-child(1) {
                  max-width: 70%;
                  max-height: 70%;
                }
              }
            }
          }
        }
        &#cpu, &#gpu {
          > .product-image {
            > img {
              &:nth-child(1) {
                z-index: 1;
                transition: opacity 0.3s, margin-top 0.3s, margin-left 0.3s, max-height 0.4s, max-width 0.4s;
                margin-top: 0%;
                margin-left: 0%;
              }
              &:nth-child(2) {
                margin-top: 100%;
                transition: opacity 0.3s, margin-top 0.3s;
              }
            }
          }
          &:hover {
            > .product-image {
              > img {
                &:nth-child(1) {
                  opacity: 1;
                  transition: opacity 0.3s, margin-top 0.3s, margin-left 0.3s, max-height 0.4s, max-width 0.4s;
                  margin-top: 50%;
                  margin-left: 40%;
                }
                &:nth-child(2) {
                  opacity: 1;
                  transition: opacity 0.3s, margin-top 0.3s;
                  margin-top: 0%;
                }
              }
            }
          }
        }
      }
    }
  }
  > .dm-background-wave-01 {
    @include svg-color(#2866c8);
    margin-left: calc( -1 * var( --dm-spacing-secondary ) );
    margin-right: calc( -1 * var( --dm-spacing-secondary ) );
    margin-bottom: calc( -1 * var( --dm-spacing-secondary ) );
    z-index: 1;
    position: relative;
    display: block;
  }
  > .dm-background-wave-02 {
    @include svg-color(#273f65);
    margin-left: calc( -1 * var( --dm-spacing-secondary ) );
    margin-right: calc( -1 * var( --dm-spacing-secondary ) );
    margin-bottom: calc( -1 * var( --dm-spacing-secondary ) );
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .slider {
    @include border-radius(var(--dm-border-radius-secondary));
    padding: var(--dm-spacing-secondary) var(--dm-spacing-primary) ;
    background: radial-gradient(#2866c8,#273f65);
    background-color: #2866c8;
    overflow: hidden;
    position: relative;

    img {
      filter: drop-shadow(-9px 5px 7px #00000073);
    }
  }
  @media only screen and (min-width: $screen-desktop-large) {
    > container {
      > ul {
        > li {
          > img {
            width: auto;
            max-width: 100%;
            height: 100%;
            min-height: 850px;
            max-height: 850px;
          }
        }
      }
    }
  }
  @media only screen and (min-width: $screen-desktop-small) {
    > container {
      > .products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        > .product {
          height: 100%;
        }
      }
      > ul {
        > li {
          > img {
            width: auto;
            max-width: 100%;
            height: 100%;
            min-height: 550px;
            max-height: 750px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: $screen-desktop-small) {
    > container {
      > ul {
        grid-template-columns: 1fr 1fr;

        > li {
          > h2 {
            --dm-text-heading1-font-size: 36px;
          }
        }
      }
      > .products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--dm-spacing-secondary);

        > .product {
          height: 100%;
        }
      }
    }
  }
  @media only screen and (max-width: $screen-tablet-large) {
    > container {
      > ul {
        grid-template-columns: 1fr 1fr;

        > li {
          > h2 {
            --dm-text-heading1-font-size: 22px;
          }
          > ul {
            > li {
              > span {
                padding: 4px 0px;
              }
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: $screen-tablet-medium) {
    > container {
      > ul {
        @include flex-column();
        flex-direction: column-reverse;
        gap: var( --dm-spacing-secondary );
        padding: 0 var( --dm-spacing-primary );

        > li {
          text-align: center;


          > h2 {
            --dm-text-heading1-font-size: 20px;
            text-align: start;
          }
          > ul {
            text-align: start;

            > li {
              > a {
                @include dm-font-medium();
                padding: 2px;
              }
            }
          }
          > img {
            padding: 0 var( --dm-spacing-primary );
            width: 100%;
            max-width: 400px;
          }
        }
      }
      > .products {
        padding: var(--dm-spacing-secondary) 0;

        > .product {
          overflow: hidden;

          > span {
            box-sizing: border-box;
            width: 100%;
            min-width: 100%;
          }
        }
      }
    }
  }
  @media only screen and (max-width: $screen-phone-medium) {
    > container {
      > ul {
        gap: var( --dm-spacing-primary );

        > li {
          text-align: center;

          > h2 {
            --dm-text-heading1-font-size: 16px;
            word-break: break-word;
          }
          > ul {
            padding: 0;
          }
        }
      }
      > .products {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

body, body.theme-light {
  .dm-workstation-products {
    > container {
      > ul {
        > li {
          > h2 {
            --dm-text-heading1-color: #2866c8;
          }
          > ul {
            > li {
              > a {
                --dm-text-medium-color: var(--dm-color-gray);
                --dm-text-default-color: var(--dm-color-gray);

                &:hover {
                  --dm-text-medium-color: #2866c8;
                  --dm-text-default-color: #2866c8;
                }
              }
            }
          }
        }
      }
      > .products {
        > .product {
          background-color: rgba(var(--dm-color-gray-rgb),0.2);
        }
      }
    }
  }
}
body.theme-dark {
  .dm-workstation-products {
    > container {
      > ul {
        > li {
          > h2 {
            --dm-text-heading1-color: var(--dm-color-white);
          }
          > ul {
            > li {
              > a {
                --dm-text-medium-color: var(--dm-color-white);
                --dm-text-default-color: var(--dm-color-white);

                &:hover {
                  --dm-text-medium-color: #2866c8;
                  --dm-text-default-color: #2866c8;
                }
              }
            }
          }
        }
      }
      > .products {


        > .product {
          background-color: rgba(var(--dm-color-white-rgb),0.1);
        }
      }
    }
  }
}
