@import "../../functions/mixins.scss";
@import "../../functions/functions.scss";

.dm-summary-experience {
    .dm-experience-header {
      @include padding-x();
      overflow: hidden;
      background-color: var( --dm-color-primary );
      padding: var( --dm-spacing-secondary ) var( --dm-spacing-primary );

      > h2 {
        @include dm-font-heading1();
        --dm-text-heading1-color: var( --dm-color-white );
        text-align: center;
        word-break: break-all;
        text-transform: uppercase;
      }
    }
    .dm-experience-section {
      position: relative;
      overflow: hidden;
      @include padding-x();

      > container {
        > ul {
          @include reset-list();
          display: grid;
          padding: var( --dm-spacing-secondary ) 0;
          gap: var( --dm-spacing-small );

          &:nth-child(n) {
            grid-template-columns: 2fr 1fr;
          }
          &:nth-child(2n) {
            grid-template-columns: 1fr 2fr ;
          }
          > li {
            @include flex-column();
            gap: var( --dm-spacing-secondary );

            > h3 {
              @include dm-font-heading4();
              word-break: break-all;
              text-transform: uppercase;
            }
            > p {
              @include dm-font-medium();
              word-break: break-all;
            }
          }
        }
      }
    }
}

body, body.theme-light {
  .dm-summary-experience {

  }
}
body.theme-dark {
  .dm-summary-experience {
  }
}
