@import "../../functions/mixins.scss";
@import "../../functions/functions.scss";

.dm-blog-posts {
  @include padding-x();
  overflow: hidden;

  > container {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var( --dm-spacing-secondary );

    > .dm-blog-post {
      @include flex-column;
      @include border-radius( var( --dm-border-radius-primary ) );
      gap: var( --dm-spacing-primary );
      padding: var( --dm-spacing-tertiary );

      background: radial-gradient(rgba(var(--dm-color-white-rgb),0.45),rgba(var(--dm-color-gray-lighten-rgb),0.45));

      > .dm-blog-post-user-data {
        display: flex;
        flex-direction: row;
        gap: var( --dm-spacing-primary );

        > .dm-blog-post-user-logo {
          @include fix-size(50px);
          @include border-radius(50px);
          border-color: var( --dm-color-white);
          border-width: 3px;
          border-style: solid;
          overflow: hidden;
          position: relative;
          display: flex;

          > img {
            width: 100%;
            height: 100%;
          }
        }
        > .dm-blog-post-information {
          @include flex-column();
          justify-content: center;
          gap: 2px;

          > .dm-blog-post-user-name {
            @include dm-font-big();
            --dm-text-big-color: var( --dm-color-gray-darken );
            --dm-text-big-font-weight: 600;
          }
          > .dm-blog-post-date {
            @include dm-font-small();
            --dm-text-small-color: var( --dm-color-gray );
            --dm-text-small-font-weight: 500;
          }
        }
      }
      > .dm-blog-post-content {
        @include flex-column;
        gap: var( --dm-spacing-primary );

        > .dm-blog-post-content-text, > .dm-blog-post-content-text > * {
          @include dm-font-medium();
          --dm-text-medium-color: var( --dm-color-gray-darken );
        }
        > .dm-blog-post-content-buttons {
          @include flex-row;
          gap: var( --dm-spacing-primary );

          > a {
            @include flex-row;
            gap: 4px;
            background-color: var( --dm-color-primary );
            padding: calc( var( --dm-spacing-primary ) / 3 ) calc( var( --dm-spacing-primary )  );

            > svg {
              @include fix-height(12px);
              width: auto;
              min-width: auto;
              max-width: 100%;
              margin: 0;
            }
            > span {
              @include dm-font-small();
              --dm-text-small-color: var( --dm-color-white );
              --dm-text-small-font-weight: 600;
            }
            &:hover{
              > span {
                --dm-text-small-color: var( --dm-color-primary );
              }
            }
          }
        }
        > .dm-blog-post-content-media {
          > img {
            max-width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

body, body.theme-light {
  .dm-blog-posts {
    > container {
      > .dm-blog-post {

      }
    }
  }
}
body.theme-dark {
  .dm-blog-posts {
    > container {
      > .dm-blog-post {
      }
    }
  }
}

