@import "../../functions/mixins.scss";
@import "../../functions/functions.scss";

.dm-post {
  @include padding-x();
  position: relative;
  overflow: hidden;

  > container {
      display: grid;
      grid-template-columns: 3fr 1fr;
      gap: var( --dm-spacing-tertiary );

    > .post-data {
      @include flex-column();
      gap: var( --dm-spacing-secondary );
      position: relative;
      overflow: hidden;

      > .post-logo {
        @include flex-center();
        @include border-radius( var( --dm-border-radius-primary ));
        @include fix-height(300px);
        background-color: var( --post_color_background );
        padding: var( --dm-spacing-secondary );

        > img {
          height: auto;
          width: auto;
          max-width: 80%;
          max-height: 100%;
        }
      }
      > .post-text {
        @include border-radius( var( --dm-border-radius-primary ));
        @include flex-column();
        gap: calc( var( --dm-spacing-primary ) / 3 );
        padding: var( --dm-spacing-secondary );
        background-color: rgba( var( --dm-color-gray-rgb ) , 0.1);
        word-break: break-word;

        > .post-title {
          @include dm-font-heading4();
          --dm-text-heading4-font-family: var( --dm-font-family-secondary );
          margin: calc( var( --dm-spacing-primary ) / 2 ) 0;

          &:after {
            position: relative;
            display: block;
            content: "";
            width: 100%;
            max-width: var( --dm-spacing-small );
            height: 3px;
            background-color: var( --post_color_primary );
          }
        }
        > .post-description {
          @include dm-font-medium();
          margin: calc( var( --dm-spacing-primary ) / 2 ) 0;
          text-align: justify;
        }
        > .post-categories, >.post-tags {
          @include flex-row();
          flex-wrap: wrap;
          word-break: break-word;
          gap: calc( var( --dm-spacing-primary ) / 2 );

          > .post-category, >.post-tag {
            @include border-radius( var( --dm-border-radius-primary ));
            @include dm-font-extra-small();
            text-transform: uppercase;
            --dm-text-extra-small-color: var(--post_color_secondary);
            --dm-text-extra-small-font-weight: 600;
            padding: 6px 8px;
            background-color: var(--post_color_primary);
          }
        }
        > .post-website {
            > span {
              font-weight: 600;
            }
            > a:hover {
              color: var( --post_color_primary );
            }
        }
        > .post-website-platform {
          > span {
            font-weight: 600;
          }
        }
        > .post-website-status {
          > span {
            font-weight: 600;
          }
        }
        > .post-media-facebook, > .post-media-instagram {
          @include flex-row();
          flex-wrap: wrap;
          align-items: center;

          > span {
            font-weight: 600;
          }
          > a {
            &:first-of-type {
              @include flex-center();
              @include fix-size(24px);
              @include border-radius(5px);
              background-color: var( --post_color_secondary );
              padding: 5px;
              margin-right: 5px;

              > svg {
                @include svg-color( var( --post_color_primary ) );
                @include fix-size(16px);
              }
              &:hover {
                background-color: var( --post_color_primary );

                > svg {
                  @include svg-color( var( --post_color_secondary ) );
                }              }
            }
            &:last-of-type {
              @include limit-line-text(1);

              &:hover {
                color: var( --post_color_primary );
              }
            }
          }
        }
        > .post-media-custom {
          > span {
            font-weight: 600;
          }
          > a:hover {
            color: var( --post_color_primary );
          }
        }
        > .post-employ {
          > span {
            font-weight: 600;
          }
        }
        > .post-data {
          > span {
            font-weight: 600;
          }
        }
      }
    }
    > .post-content {
      @include flex-column();
      gap: var( --dm-spacing-tertiary );
      position: relative;
      overflow: hidden;

      > .dm-post-title-category {
        @include border-radius( var( --dm-border-radius-primary ));
        @include flex-center();
        @include dm-font-heading4();
        padding: var( --dm-spacing-secondary );
        --dm-text-heading4-color: var(--post_color_secondary);
        background-color: var(--post_color_primary);
        text-transform: uppercase;
      }
    }
  }
  @media only screen and (max-width: $screen-tablet-large) {
    > container {
      @include flex-column();
      flex-direction: column-reverse;

      > .post-content, > .post-data {
        gap: var( --dm-spacing-secondary );

        > .post-logo {
          @include fix-height(100px);
        }
      }
    }
  }
  @media only screen and (max-width: $screen-phone-large) {
    > container {
      @include flex-column();
      flex-direction: column-reverse;
      gap: var( --dm-spacing-secondary );

      > .post-content, > .post-data{
        gap: var( --dm-spacing-primary );

        > .dm-post-title-category {
          @include dm-font-big();
          --dm-text-big-color: var(--post_color_secondary);
          --dm-text-big-font-weight: 600;
          background-color: var(--post_color_primary);
        }
      }
    }
  }
}

body, body.theme-light {
  .dm-post {
    > container {
      > .post-data {
        > .post-logo {
          border: 1px solid rgba( var( --dm-color-white-rgb ) , 0.2);
        }
        > .post-text {
          border: 1px solid rgba( var( --dm-color-white-rgb ) , 0.2);
          > .post-title {
            --dm-text-heading4-color: var( --dm-color-gray );
          }
          > .post-description {
            --dm-text-medium-color: var( --dm-color-gray );
          }
          > * {
            --dm-text-default-color: var( --dm-color-gray );
          }
        }
      }
    }
  }
}
body.theme-dark {
  .dm-post {
    > container {
      > .post-data {
        > .post-logo {
          border: 1px solid rgba( var( --dm-color-white-rgb ) , 0.2);
        }
        > .post-text {
          border: 1px solid rgba( var( --dm-color-white-rgb ) , 0.2);

          > .post-title {
            --dm-text-heading4-color: var( --dm-color-white );
          }
          > .post-description {
            --dm-text-medium-color: var( --dm-color-white );
          }
          > * {
            --dm-text-default-color: var( --dm-color-white );
          }
          > .post-media-facebook,
          .post-media-instagram,
          .post-media-custom {
            >  a {
              &:first-of-type {
                background-color: var( --post_color_primary );

                > svg {
                  @include svg-color( var( --post_color_secondary ) );
                }
                &:hover {
                  background-color: var( --post_color_secondary  );

                  > svg {
                    @include svg-color( var( --post_color_primary ) );
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


