@import "../interface-design/screen-sizes.scss";
@import "../interface-design/variables.scss";

@mixin container( $var: null ) {
  @if $var == null {
    $var: 0;
 }
 
  margin: 0 auto;
  width: 100%;
  padding-top: $var;
  padding-bottom: $var;
  max-width: 1600px;

  @media only screen and ( max-width: $screen-tablet-small ) {

    padding-top: calc( $var  / 2 );
    padding-bottom: calc(  $var  / 2 );
  }
}
@mixin padding-x() {

  padding-left: var( --dm-spacing-secondary );
  padding-right: var( --dm-spacing-secondary );

  @media only screen and ( max-width: $screen-phone-medium ) {
    padding-left: var( --dm-spacing-primary );
    padding-right: var( --dm-spacing-primary );
  }
}

@mixin reset-list() {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

@mixin remove-container() {
  width: auto;
  margin: 0;
  padding: 0;
  max-width: unset;
}

@mixin cover-image() {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

@mixin dm-icon-primary() {
  &[data-svg-type="fill"] {
    fill   : var( --dm-icon-primary-color );
  }

  &[data-svg-type="stroke"] {
    stroke : var( --dm-icon-primary-color );
  }
}

@mixin box-sizing ( $var: border-box ) {
  -webkit-box-sizing : $var;
  box-sizing         : $var;
}

@mixin box-shadow ( $var ) {
  -webkit-box-shadow : $var;
  box-shadow         : $var;
}

@mixin border-radius ( $var ) {
  -webkit-border-radius : $var;
  border-radius         : $var;
}

@mixin transform ( $var ) {
  -ms-transform     : $var;
  -webkit-transform : $var;
  transform         : $var;
}

@mixin transition ( $var ) {
  -webkit-transition : $var;
  -o-transition      : $var;
  transition         : $var;
}

@mixin animation ( $var ) {
  -webkit-animation : $var;
  -moz-animation    : $var;
  -o-animation      : $var;
  animation         : $var;
}

@mixin user-select( $var ) {
  -webkit-touch-callout : $var;
  -webkit-user-select   : $var;
  -moz-user-select      : $var;
  -ms-user-select       : $var;
  user-select           : $var;
}

@mixin fix-size( $var) {
  width     : $var;
  height    : $var;
  min-width : $var;
  min-height: $var;
  max-width : $var;
  max-height: $var;
}

@mixin fix-width( $var ) {
  width    : $var;
  min-width: $var;
  max-width: $var;
}

@mixin fix-height( $var ) {
  height    : $var;
  min-height: $var;
  max-height: $var;
}

@mixin flex-center() {
  display        : flex;
  align-items    : center;
  justify-content: center;
}

@mixin flex-row() {
  display        : flex;
  flex-direction : row;
}

@mixin flex-column() {
  display        : flex;
  flex-direction : column;
}

@mixin limit-line-text( $var ) {
  display: -webkit-box;
  -webkit-line-clamp: $var;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin svg-color( $var ) {
  &[data-svg-type="fill"] {
    > path {
      fill: $var;
    }
  }
  &[data-svg-type="stroke"] {
    > path {
      stroke: $var;
    }
  }
}
