@import "../../functions/mixins.scss";
@import "../../functions/functions.scss";

.dm-person-circle-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 280px;

  > span {
    border-radius: 50%;
    height: 312px;
    -webkit-tap-highlight-color: transparent;
    transform: scale(0.48);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 400px;

    &:hover {
      transform: scale(0.54);

      > div {
        > img {
          transform: translateY(70px) scale(1.2);
        }
      }
    }

    &:after {
      border-radius: 50%;
      background-color: var( --dm-background-color-gray-darken );
      opacity: 0.1;
      content: "";
      width: 400px;
      height: 400px;
      position: absolute;
      top: 30px;
      left: 30px;
      z-index: -1;
    }
    > div {
      clip-path: path("M 390,400 C 390,504.9341 304.9341,590 200,590 95.065898,590 10,504.9341 10,400 V 10 H 200 390 Z");
      position: relative;
      transform-origin: 50%;
      top: -200px;

      > .circle-background {
        border-radius: 50%;
        cursor: pointer;
        height: 380px;
        left: 10px;
        pointer-events: none;
        position: absolute;
        top: 210px;
        width: 380px;
      }
      > img {
        pointer-events: none;
        position: relative;
        transform: translateY(100px) scale(1.15);
        transform-origin: 50% bottom;
        transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
        left: 40px;
        top: 120px;
        width: 325px;
        height: auto;
      }
    }
  }
  @container (max-width: 295px) {
    > span {
      height: 70vw;
      width: 100vw;

      > div {
        top: -10vw;
        height: 100vw;
        width: 100%;
        max-width: 100vw;
        clip-path: none;
        overflow: hidden;
        position: relative;
        border-radius: 100%;

        > .circle-background {
          @include fix-size(100vw);
          top: 0;
          left: 0;
          width: 80vw;
          height: 42vw;
        }
        > img {
          @include fix-width(60vw);
          @include fix-height(auto);
          top: -5vw;
          left: 20vw;
        }
      }
      &:after {
        width: 100vw;
        height: 100vw;
        top: 1vw;
        left: 3vw;
      }
    }
  }
  @media only screen and (max-width: $screen-phone-small ) {
    max-width: 112px;

      > span {
        height: 70vw;
        width: 100vw;

        > div {
          top: -10vw;
          height: 100vw;
          width: 100%;
          max-width: 100vw;
          clip-path: none;
          overflow: hidden;
          position: relative;
          border-radius: 100%;

          > .circle-background {
            @include fix-size(100vw);
            top: 0;
            left: 0;
            width: 80vw;
            height: 42vw;
          }
          > img {
            @include fix-width(60vw);
            @include fix-height(auto);
            top: -5vw;
            left: 20vw;
          }
        }
        &:after {
          width: 100vw;
          height: 100vw;
          top: 1vw;
          left: 3vw;
        }
      }
  }
}

body, body.theme-light {
  .dm-person-circle-card {
    > span {
      &:after {
        background-color: var( --dm-background-color-gray-darken );
      }
      > div {
        .circle-background {
          background-color: rgba( var( --dm-color-primary-rgb ) , 1);
        }
      }
    }
  }
}
body.theme-dark {
  .dm-person-circle-card {
    > span {
      &:after {
        background-color: var( --dm-background-color-primary );
      }
      > div {
        .circle-background {
          background-color: rgba( var( --dm-color-white-rgb ) , 1);
          border: 2px solid var( --dm-color-primary );
        }
      }
    }
  }
}



