@import "../../functions/mixins.scss";
@import "../../functions/functions.scss";

.dm-contact-form {
  @include flex-column();
  gap: var( --dm-spacing-secondary );
  overflow: hidden;

  > h3 {
    @include dm-font-heading3();
    --dm-text-heading3-font-family: var( --dm-font-family-secondary );
  }
  > form {
    @include flex-column();
    gap: var( --dm-spacing-secondary );

    > div {
      @include flex-column();
      gap: var( --dm-spacing-primary );

      #dm-send-status {
        @include dm-font-default();
      }
    }
    input, textarea {
      @include border-radius( var( --dm-border-radius-primary ) );
      @include dm-font-default();
      padding: calc(var( --dm-spacing-primary ) / 3) var( --dm-spacing-primary );
      border: 2px solid var( --dm-border-color-primary );
      background-color: rgba( var(--dm-color-gray-rgb) , 0.1 );

      &::placeholder {
        @include dm-font-default();
        opacity: 0.8;
      }
      &:focus {
        outline: none;
        background-color: rgba( var(--dm-color-primary-rgb) , 0.2 );
      }
    }
    textarea {
      width: auto;
      max-width: 100%;
      min-height: 100px;
      max-height: 400px;
      resize: none;
    }
    label  {
      @include dm-font-default();
    }
    img {
      @include border-radius( var( --dm-border-radius-primary ) );
      width: auto;
      height: auto;
      max-width: 100%;
    }
    .radio {
      @include flex-row();
      width: 100%;
      max-width: 100%;
      align-items: center;
      flex-wrap: nowrap;
      gap: 6px;
      position: relative;
      cursor: pointer;
      user-select: none;

      input {
        z-index: 2;
        position: absolute;
        opacity: 0;
        cursor: pointer;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
      .checkmark {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: rgba( var(--dm-color-gray-lighten-rgb), 0.2 );
        border-color: rgba( var(--dm-color-white-rgb), 1 );
        border-radius: 50%;
        border-style: solid;
        border-width: 2px;
        outline: 2px solid rgba( var(--dm-color-primary-rgb), 1 );
        margin: 4px;
      }
      input:checked + .checkmark {
        background-color: rgba( var(--dm-color-primary-rgb), 1 );
      }
    }
  }
}

body, body.theme-light {
  .dm-contact-form {
    > h3 {
      --dm-text-heading3-color: var( --dm-color-gray-darken );
    }
    > form {
      input, textarea {
        --dm-text-default-color: var( --dm-color-gray-darken );

        &::placeholder {
          --dm-text-default-color: var( --dm-color-gray );
        }
      }
      label {
        --dm-text-default-color: var( --dm-color-gray-darken );
      }
      > div {
        #dm-send-status {
          --dm-text-default-color: var( --dm-color-gray-darken );
        }
      }
      button {
        &[data-action="prev-step"] {
          --dm-color-primary: var( --dm-color-gray );
        }
      }
    }
  }
}

body.theme-dark {
  .dm-contact-form {
    > h3 {
      --dm-text-heading3-color: var( --dm-color-white );
    }
    > form {
      input, textarea {
        --dm-text-default-color: var( --dm-color-white );

        &::placeholder {
          --dm-text-default-color: var( --dm-color-white );
        }
      }
      label {
        --dm-text-default-color: var( --dm-color-white );
      }
      > div {
        #dm-send-status {
          --dm-text-default-color: var( --dm-color-white );
        }
      }
      button {
        &[data-action="prev-step"] {
          --dm-color-primary: var( --dm-color-secondary );
        }
      }
    }
  }
}

body {
  .dm-contact-form {
    > form {
      .form-submit {
        display: none;
      }
      .external-form-submit {
        display: flex;
      }
      &[data-form-type="steps"] {
        .step {
          display: none;
        }
      }
    }
  }
}

body[java-script="true"] {
  .dm-contact-form {
    > form {
      .form-submit {
        display: flex;
      }
      .external-form-submit {
        display: none;
      }
      &[data-form-type="steps"] {
        > * {
          display: none;
        }
        .step {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          > input, textarea {
            width: 100%;
          }
        }
      }
    }
  }
}

