@import "../../functions/mixins.scss";
@import "../../functions/functions.scss";


.carousel-list-devices {
  @include reset-list();
  @include flex-row();
  @include flex-center();
  flex-wrap: wrap;
  align-items: center;
  gap: var(--dm-spacing-secondary);

  > .carousel-item {
    > .dm-post {
      position: relative;
      display: flex;
      padding: 0px;

      > .device-layout-laptop {
        @include flex-center();
        @include fix-width( var( --carousel-item-size ) );
        width: 500px;
        height: 400px;
        position: relative;

        > .screen {
          @include flex-center();
          align-items: flex-start;
          overflow: hidden;
          background-color: var( --dm-color-white );
          position: absolute;
          top: 12.5%;
          bottom: 28%;
          left: 13%;
          right: 12.5%;

          > .web-desktop-image {
            width: 112%;
            max-width: 112%;
            height: auto;
          }
          > .shadow-color {
            content: '';
            z-index: 1;
            position: absolute;
            top: 60%;
            bottom: -20%;
            left: -20%;
            right: -20%;
            opacity: 1;
            filter: blur(18px);
          }
          &:before {
            content: '';
            z-index: 1;
            background-color: var( --dm-color-white );
            transform: rotate(40deg);
            margin-right: -195%;
            position: absolute;
            top: 0%;
            bottom: 0%;
            left: 0%;
            right: 0%;
            opacity: 0.2;
            filter: blur(2px);
          }
        }
        > .laptop {
          width: 100%;
          max-width: 100%;
          height: auto;
          z-index: 1;
        }
      }
      > .device-layout-phone {
        position: absolute;
        z-index: 2;
        bottom: 20%;
        top: 20%;
        left: 70%;
        right: 0%;
        height: 80%;


        > .screen {
          @include border-radius( 8% );
          @include flex-center();
          align-items: flex-start;
          overflow: hidden;
          background-color: var( --dm-color-white );
          position: absolute;
          left: 12%;
          right: 12%;
          height: 75%;
          top: 8%;
          bottom: 30%;

          > .web-phone-image {
            width: 100%;
            max-width: 100%;
            height: auto;
          }
          > .shadow-color {
            content: '';
            z-index: 1;
            position: absolute;
            top: 60%;
            bottom: -30%;
            left: -130%;
            right: -130%;
            opacity: 1;
            filter: blur(18px);
          }
          &:before {
            content: '';
            z-index: 1;
            background-color: var( --dm-color-white );
            transform: rotate(50deg);
            margin-right: -495%;
            margin-top: -100%;
            position: absolute;
            top: 0%;
            bottom: 0%;
            left: 0%;
            right: 0%;
            opacity: 0.2;
            filter: blur(2px);
          }
        }
        > .phone {
          position: relative;
          width: auto;
          max-width: 100%;
          height: 100%;
          max-height: 100%;
          z-index: 2;
        }
      }
    }

  }

  @media only screen and (max-width: $screen-tablet-small) {
    > .carousel-item {
      > .dm-post {
        > .device-layout-laptop {
          width: 280px;
          height: 220px;
        }
      }
    }
  }
}

