@import "../../functions/mixins.scss";
@import "../../functions/functions.scss";

.dm-gallery-web-content {
  @include border-radius( var( --dm-border-radius-primary ));
  @include flex-column();
  gap: var( --dm-spacing-secondary );
  padding: var( --dm-spacing-secondary );
  position: relative;
  overflow: hidden;

  > .dm-web-home-banner {
    @include flex-row();
    @include border-radius( var( --dm-border-radius-primary ));
    background-color: var( --post_color_primary );
    position: relative;
    z-index: 0;
    overflow: hidden;

    > img {
      cursor: pointer;
      width: 100%;
      height: auto;
    }
  }
  > .dm-web-gallery {
    @include reset-list();
    @include flex-center();
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var( --dm-spacing-secondary );

    > .dm-web-gallery-item {
      @include fix-height(300px);
      @include flex-center();
      @include border-radius( var( --dm-border-radius-primary ));
      flex-direction: column;
      overflow: hidden;
      position: relative;
      background-color: var( --post_color_primary );

      > img {
        cursor: pointer;
        z-index: 1;
        width: 100%;
        height: auto;
        max-height: 100%;
        object-fit: cover;
        object-position: top;
        transition: width 0.4s, max-width 0.4s;
        filter: blur(0.5px);
      }
      > .bg {
        position: absolute;
        background-size: cover;
        background-position: center;
        height: 120%;
        width: 120%;
        opacity: 0.7;
        mix-blend-mode: multiply;
        transition: width 0.3s, height 0.3s;
      }
      &:hover {
        > div {
          height: 140%;
          width: 140%;
          transition: width 0.3s, height 0.3s;
        }
      }
      &.gallery-item-phone {
        > .layout {
          position: relative;
          width: auto;
          max-width: 90%;
          height: auto;
          max-height: 90%;

          &:before {
            content: "";
            display: block;
            overflow: hidden;
            position: absolute;
            top: 2%;
            left: 2%;
            right: 2%;
            bottom: 3%;
            width: 100%;
            max-width: 96%;
            height: 100%;
            max-height: 86%;
            border-radius: 8%;
            background-color: var( --post_color_primary );
          }

          img {
            width: auto;
            max-height: 90%;
            height: 100%;
            filter: unset;

            &.device {
              z-index: 1;
              position: relative;
              pointer-events: none;
            }
            &.photo {
              overflow: hidden;
              position: absolute;
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: top;
              z-index: 0;
              mask: linear-gradient(0deg, transparent, white 30%, white 100%, transparent);

              &.model-1 {
                top: 11.5%;
                left: 7%;
                right: 7%;
                bottom: 45%;
                max-width: 87%;
                max-height: 66%;
              }
              &.model-2 {
                top: 10%;
                left: 6%;
                right: 6%;
                bottom: 12%;
                max-width: 88%;
                max-height: 72%;
              }
              &.model-3 {
                top: 2%;
                left: 2%;
                right: 2%;
                bottom: 3%;
                max-width: 96%;
                max-height: 86%;
                border-radius: 8%;
              }
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: $screen-tablet-large) {
    > .dm-web-gallery {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media only screen and (max-width: $screen-tablet-medium) {
    > .dm-web-gallery {
      grid-template-columns: repeat(2, 1fr);

      > .dm-web-gallery-item {
        @include fix-height(200px);
      }
    }
  }
  @media only screen and (max-width: $screen-phone-large) {
    > .dm-web-gallery {
      gap: var( --dm-spacing-primary );
    }
  }
  @media only screen and (max-width: $screen-phone-medium) {

    > .dm-web-gallery {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

body, body.theme-light {
  .dm-gallery-web-content {
    border: 1px solid rgba(var(--dm-color-gray-rgb), 0.2);
    background-color: rgba(var( --dm-color-white-rgb), 0.3 );
  }
}

body.theme-dark {
  .dm-gallery-web-content {
    background-color: rgba(var(--dm-color-gray-lighten-rgb), 0.1);
    border: 1px solid rgba(var(--dm-color-white-rgb), 0.2);
  }
}


