@import "../../functions/mixins.scss";
@import "../../functions/functions.scss";

.dm-video-games-list {
  @include padding-x();
  padding-top: var(--dm-spacing-medium);
  padding-bottom: var(--dm-spacing-medium);
  overflow: hidden;
  position: relative;

  >container {
    z-index: 1;
    display: flex;
    flex-direction: column;

    >ul {
      @include reset-list();
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: var(--dm-spacing-primary);
      width: 100%;
    }
  }
}

.dm-vg-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100px;
  max-width: 100%;

  .name {
    @include dm-font-medium();
    --dm-font-family: var(--dm-font-family-primary);
    --dm-text-medium-color: var(--dm-color-secondary);
    --dm-text-medium-font-weight: 600;
    text-align: center;

    &.inside {
      opacity: 0;
      @include dm-font-extra-small();
      --dm-text-extra-small-color: var(--dm-color-white);
      --dm-text-extra-small-font-weight: 400;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 5px 4px;
      background-color: rgba(var(--dm-color-gray-darken-rgb), 0.7);
      transition: all 0.3s ease-in-out;
    }
  }

  .rank {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    align-items: center;

    >span {
      @include dm-font-medium();
      --dm-text-medium-color: var(--dm-color-white);
      --dm-text-medium-font-weight: 300;
      --dm-text-medium-line-height: var( --dm-text-extra-small-font-size);
      opacity: 0;
      transform: rotate(100deg) scale(0.8) translateY(6px);
      transition: all 0.2s ease-in-out;
    }
  }

  .playtime {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    align-items: center;

    >span {
      @include dm-font-extra-small();
      --dm-text-extra-small-color: var(--dm-color-white);
      --dm-text-extra-small-font-weight: 400;
      opacity: 0;
      transform: rotate(100deg) scale(0.8) translateY(6px);
      transition: all 0.2s ease-in-out;
    }
  }

  img {
    width: 100px;
    max-width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
  }

  .banner-box {
    position: relative;
    width: 100px;
    max-width: 100%;
    height: 150px;
  }

  svg {
    @include svg-color(var(--dm-color-white));
    width: 16px;
    height: 16px;
    object-fit: contain;
    object-position: center;
  }

  .details-box {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background: linear-gradient(to bottom right,
        rgba(var(--dm-color-secondary-rgb), 0.7) 20%,
        rgba(var(--dm-color-primary-rgb), 0) 100%);
    padding: 6px 9px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    background-color: rgba(var(--dm-color-gray-darken-rgb), 0);
    transition: all 0.3s ease-in-out;

    >div {
      opacity: 0.4;
      transition: all 0.3s ease-in-out;
    }

    svg {
      opacity: 0;
      transform: scale(0.6);
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      >div {
        opacity: 1;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  details {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }

  summary {
    width: auto;
    cursor: pointer;
    list-style: none;

    >svg {
      &:hover {
        @include svg-color(var(--dm-link-color-primary));
      }

    }
  }

  .tags {
    @include reset-list();
    width: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
    z-index: 2;

    li {
      @include dm-font-extra-small();
      box-sizing: border-box;
      padding: 2px 6px;
      --dm-font-family: var(--dm-font-family-primary);
      --dm-text-extra-small-color: var(--dm-color-white);
      --dm-text-extra-small-font-weight: 400;
      background-color: var(--dm-color-secondary);
      border-radius: 4px;
    }
  }

  &:hover {
    .details-box {
      background-color: rgba(var(--dm-color-gray-darken-rgb), 0.3);
      transition: all 0.3s ease-in-out;
    }

    .rank {
      >span {
        opacity: 1;
        transform: rotate(0deg) scale(1) translateY(0px);
        transition: all 0.2s ease-in-out;
      }
    }

    .playtime {
      >span {
        opacity: 1;
        transform: rotate(0deg) scale(1) translateY(0px);
        transition: all 0.2s ease-in-out;
      }
    }

    .name {
      &.inside {
        opacity: 1;
        transition: all 0.3s ease-in-out;
      }
    }
    details {
      opacity: 1;
      transition: all 0.3s ease-in-out;
    }
    svg {
      opacity: 1;
      transform: scale(1);
      transition: all 0.2s ease-in-out;
    }
  }

  &[display="false"] {
    display: none;
  }
}

#dm-video-games-filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:  5px;
  padding-bottom: var( --dm-spacing-primary );

  > select {
      @include dm-font-extra-small();
      box-sizing: border-box;
      padding: 5px 12px;
      --dm-font-family: var(--dm-font-family-primary);
      --dm-text-extra-small-color: var(--dm-color-gray-darken);
      background-color: var(--dm-color-white);
      --dm-text-extra-small-font-weight: 400;
      border-radius: 4px;
  }
}

body,
body.theme-light {
  .dm-vg-item {
    .name {
      --dm-text-medium-color: var(--dm-color-gray);
    }
  }
}

body.theme-dark {
  .dm-vg-item {
    .name {
      --dm-text-medium-color: var(--dm-color-gray-lighten);
    }
  }
}