@import "../../functions/mixins.scss";
@import "../../functions/functions.scss";

.dm-posts-list {
  overflow: hidden;
  position: relative;

  > container {
    > ul {
      @include reset-list();
      @include padding-x();
      display: grid;
      align-items: center;
      grid-template-columns: repeat(3, 1fr);
      gap: var( --dm-spacing-secondary );

      > .dm-post-item {
        @include border-radius( var( --dm-border-radius-primary ));
        @include flex-row();
        gap: calc( var( --dm-spacing-secondary ) );
        padding: var( --dm-spacing-secondary );
        word-break: break-word;
        position: relative;
        overflow: hidden;

        > .dm-post-item-logo {
            @include flex-center();
            @include border-radius( var( --dm-border-radius-primary ));
            padding: var( --dm-spacing-secondary );
            aspect-ratio: 16/9;
            max-height: 300px;
            overflow: hidden;
            position: relative;
            width: 40%;


           > img {
             width: auto;
             max-width: 80%;
             height: auto;
             max-height: 70%;
           }
        }
        > .dm-post-item-details {
          @include flex-column();
          gap: var( --dm-spacing-primary );
          justify-content: center;
          width: 60%;

          > .dm-post-item-title {
            @include limit-line-text(1);
            @include dm-font-default();
            --dm-text-default-font-weight: 600;
            text-transform: uppercase;

            &:hover {
              --dm-text-default-color: var( --dm-color-primary );
            }
          }
          > .dm-post-item-description {
            @include limit-line-text(2);
            @include dm-font-small();
            word-break: break-all;
          }
          > .dm-post-item-categories {
            display: none !important;
            @include reset-list();
            @include flex-row();
            word-break: break-word;
            gap: calc( var( --dm-spacing-primary ) / 2 );

            > li {
              @include flex-row();
              @include limit-line-text(1);
              @include border-radius( var( --dm-border-radius-primary ));
              padding: 4px 6px;
              background-color: var(--dm-color-primary);

              > span {
                @include limit-line-text(1);
                @include dm-font-extra-small();
                --dm-text-extra-small-color: var( --dm-color-white );
                --dm-text-extra-small-font-weight: 600;
                word-break: break-all;
                text-transform: uppercase;
              }
            }
          }
          > .dm-post-item-heading {
            > .dm-post-item-title {
              @include limit-line-text(1);
              @include dm-font-default();
              --dm-text-default-font-weight: 600;
              text-transform: uppercase;

              &:hover {
                --dm-text-default-color: var( --dm-color-primary );
              }
            }
            > .dm-post-item-date {
              @include limit-line-text(1);
              @include flex-row();
              align-items: center;
              gap: 5px;
              opacity: 0;
              max-height: 0px;
              transition: opacity 0.6s, max-height 0.3s;

              > svg {
                @include fix-size(12px);
              }
              > span {
                @include dm-font-extra-small();
              }
            }
          }
        }
        &.dm-post-item-web {
          > .dm-post-item-logo {
            > img {
              &:nth-child(1) {
                z-index: 1;
              }
              &:nth-child(2) {
                opacity: 0;
                position: absolute;
                margin: auto;
                min-width: 100%;
                width: auto;
                height: auto;
                max-width: 300%;
                max-height: 100%;
                transition: opacity 0.4s;
              }
            }
          }
          > .dm-post-item-details {
            > .dm-post-web-data {
              @include flex-column();
              gap: 4px;

              > .dm-post-item-website {
                @include limit-line-text(1);
                @include dm-font-extra-small();
                --dm-text-extra-small-font-weight: 600;
                text-transform: uppercase;
                position: absolute;
                right: 10px;
                top: 10px;
                opacity: 0;
                transition: opacity 0.3s;

                &:hover {
                  --dm-text-default-color: var( --dm-color-primary );
                }
                > svg {
                  @include fix-size(15px);
                  @include svg-color( var( --dm-color-primary ) );

                  &.website-inactive {
                    @include svg-color( var( --dm-color-highlight-primary-rgb ) );
                  }
                }
              }
            }
          }
          &:hover {
            > .dm-post-item-logo {
              > img {
                &:nth-child(2) {
                  opacity: 0.2;
                  transition: opacity 0.4s;
                }
              }
            }
            > .dm-post-item-details {
              > .dm-post-web-data {
                > .dm-post-item-website {
                  opacity: 1;
                  transition: opacity 0.3s;
                }
              }
            }
          }
        }
        &.dm-post-item-media {
          > .dm-post-item-logo {
            > img {
              &:nth-child(1) {
                z-index: 1;
              }
              &:nth-child(2) {
                opacity: 0;
                position: absolute;
                margin: auto;
                min-width: 100%;
                min-height: 100%;
                width: auto;
                height: auto;
                max-width: 100%;
                max-height: unset;
                transition: opacity 0.4s;
                object-fit: cover;
              }
            }
          }
          &:hover {
            > .dm-post-item-logo {
              > img {
                &:nth-child(2) {
                  opacity: 0.2;
                  transition: opacity 0.4s;
                }
              }
            }
          }
        }
        &:hover {
          > .dm-post-item-details {
            > .dm-post-item-heading {
              > .dm-post-item-date {
                opacity: 1;
                max-height: 12px;
                transition: opacity 0.6s, max-height 0.3s;
              }
            }
          }
        }
      }
    }

  }
  @media only screen and (max-width: $screen-desktop-small) {
    > container {
      > ul {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
  @media only screen and (max-width: $screen-tablet-medium) {
    > container {
      > ul {
        grid-template-columns: repeat(2, 1fr);

        > .dm-post-item {
          gap: var( --dm-spacing-primary );
          flex-direction: column;

          > .dm-post-item-details {
            width: 100%;
            min-width: 100%;
          }
          > .dm-post-item-logo {
            width: 100%;
            min-width: 100%;
            padding: var(--dm-spacing-primary);
            box-sizing: border-box;
          }
        }
      }
    }
  }
  @media only screen and (max-width: $screen-phone-large) {
    > container {
      > ul {
        gap: var( --dm-spacing-primary );

        > .dm-post-item {
          padding: var( --dm-spacing-primary );

          > .dm-post-item-details {
              gap: 8px;

            > .dm-post-item-description {
              @include limit-line-text(1);
            }
            > .dm-post-item-categories {
              @include flex-center();
            }
            > .dm-post-item-title {
              text-align: center;
            }
            > .dm-post-item-heading {
              gap: 0 !important;

              > .dm-post-item-title {
                text-align: center;
              }
              > .dm-post-item-website {
                display: none !important;
              }
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: $screen-phone-medium) {
    > container {
      > ul {
        grid-template-columns: repeat(1, 1fr);

        > .dm-post-item {
          flex-direction: column;

          > .dm-post-item-details {
            width: 100%;

          }
          > .dm-post-item-logo {
            width: 100%;
            max-width: 80%;
            max-height: initial;
          }
        }
      }
    }
  }
}

body, body.theme-light {
  .dm-posts-list {
    > container {
      > ul {
        > .dm-post-item {
          border: 1px solid rgba(var(--dm-color-gray-rgb), 0.2);
          background-color: rgba(var( --dm-color-white-rgb), 0.5 );

          > .dm-post-item-details {
            > .dm-post-item-title {
              --dm-text-default-color: var( --dm-color-gray );

              &:hover {
                --dm-text-default-color: var( --dm-color-primary );
              }
            }
            > .dm-post-item-description {
              --dm-text-small-color: var( --dm-color-gray );
            }
            > .dm-post-item-heading {
              > .dm-post-item-title {
                --dm-text-default-color: var( --dm-color-gray );
              }
              > .dm-post-item-date {
                > svg {
                  @include svg-color( var( --dm-color-gray ) );
                }
                > span {
                  --dm-text-extra-small-color: var( --dm-color-gray );
                }
              }
            }
          }
          >.dm-post-item-logo {
            border: 1px solid rgba(var( --dm-color-black-rgb ), 0.3);
          }
          &.dm-post-item-web {
            > .dm-post-item-details {
              > .dm-post-web-data {
                > .dm-post-item-website {
                  --dm-text-extra-small-color: var( --dm-color-gray );
                }
              }
            }
          }
        }
      }
    }
  }
}
body.theme-dark {
  .dm-posts-list {
    > container {
      > ul {
        > .dm-post-item {
          border: 1px solid rgba(var(--dm-color-white-rgb), 0.2);
          background-color: rgba(var(--dm-color-gray-lighten-rgb), 0.2);

          > .dm-post-item-details {
            > .dm-post-item-title {
              --dm-text-default-color: var( --dm-color-white );

              &:hover {
                --dm-text-default-color: var( --dm-color-highlight-primary );
              }
            }
            > .dm-post-item-description {
              --dm-text-small-color: var( --dm-color-white );
            }
            > .dm-post-item-heading {
              > .dm-post-item-title {
                --dm-text-default-color: var( --dm-color-white );

                &:hover {
                  --dm-text-default-color: var( --dm-color-highlight-primary );
                }
              }
              > .dm-post-item-date {
                > svg {
                  @include svg-color( var( --dm-color-white ) );
                }
                > span {
                  --dm-text-extra-small-color: var( --dm-color-white );
                }
              }
            }
          }
          >.dm-post-item-logo {
            border: 1px solid rgba(var( --dm-color-white-rgb ), 0.3);
          }
          &.dm-post-item-web {
            > .dm-post-item-details {
              > .dm-post-web-data {
                > .dm-post-item-website {
                  --dm-text-extra-small-color: var( --dm-color-white );

                  > svg {
                    @include svg-color( var( --dm-color-highlight-primary ) );
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
