@import "../../functions/mixins.scss";
@import "../../functions/functions.scss";

.dm-workstation-header {
  @include padding-x();
  overflow: hidden;
  position: relative;
  background: radial-gradient(var( --workstation-primary-color ), var( --workstation-secondary-color ));
  background-color: var( --workstation-primary-color );

  .dm-background-wave {
    @include svg-color(var( --workstation-primary-color ));
    margin-left: calc( -1 * var( --dm-spacing-secondary ) );
    margin-right: calc( -1 * var( --dm-spacing-secondary ) );

  }
  > .dm-background-wave-01 {
    @include svg-color(var( --workstation-primary-color ));
    margin-left: calc( -1 * var( --dm-spacing-secondary ) );
    margin-right: calc( -1 * var( --dm-spacing-secondary ) );
    margin-bottom: calc( -1 * var( --dm-spacing-secondary ) );
    z-index: 1;
    position: relative;
    display: block;
  }
  > .dm-background-wave-02 {
    @include svg-color(var( --workstation-secondary-color ));
    margin-left: calc( -1 * var( --dm-spacing-secondary ) );
    margin-right: calc( -1 * var( --dm-spacing-secondary ) );
    margin-bottom: calc( -1 * var( --dm-spacing-secondary ) );
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  > container {
    > ul {
      @include reset-list();
      align-items: center;
      display: grid;
      grid-template-columns: 1.2fr 1fr;
      gap: var(--dm-spacing-large);
      padding: 0 var(--dm-spacing-tertiary);

      &.video-workstation {
        gap: var(--dm-spacing-secondary);
        grid-template-columns: 1fr 1fr;

        > li {
          > .video-container {
            @include border-radius(var(--dm-border-radius-secondary));
            --dm-video-color-primary: var( --workstation-primary-color );
            --dm-color-primary: var( --workstation-primary-color );
            --color-range-primary: var( --workstation-primary-color );
            width: 100%;
            overflow: hidden;
          }
        }
      }
      > li {
        &:nth-child(2){
          display: flex;
          flex-direction: row-reverse;
        }
        > .workstation-img {
          > img {
            width: auto;
            max-width: 100%;
            height: 350px;
          }
        }
        > h1 {
          @include dm-font-heading1();
          --dm-text-heading1-font-size: 100px;
          --dm-text-heading1-color: #00000000;
          font-weight: 500;
          -webkit-text-stroke: 2px var(--dm-color-white);
        }

        > h2 {
          @include dm-font-heading1();
          --dm-text-heading1-font-size: 58px;
          --dm-text-heading1-font-family: var( --dm-font-family-secondary );
          --dm-text-heading1-font-family: var( --workstation-title-font );
          --dm-text-heading1-color: var(--dm-color-white);
        }
        > p {
          @include dm_font-default();
          --dm-text-default-color: var(--dm-color-white);
          padding: var(--dm-spacing-tertiary) 0;

        }
        > span {
          @include dm_font-default();
          --dm-text-default-color: var(--dm-color-white);
        }
        > ul {
          @include reset-list();
          padding: 4px 6px;
          > li {
            @include dm_font-default();
            --dm-text-default-color: var(--dm-color-white);
          }
        }
      }
    }
  }
  @media only screen and (min-width: $screen-desktop-large) {
    > container {
      > ul {
        > li {
          > .workstation-img {
            > img {
              width: auto;
              max-width: 100%;
              height: 100%;
              min-height: 650px;
              max-height: 650px;
            }
          }
        }
      }
    }
    > .dm-background-wave-01 {
      margin-top: calc( -1 * var( --dm-spacing-large ) );
    }
  }
  @media only screen and (min-width: $screen-desktop-medium) {
    > container {
      > ul {
        > li {
          > .workstation-img {
            > img {
              width: auto;
              max-width: 100%;
              height: 500px;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: $screen-desktop-small) {
    > container {
      > ul {
        grid-template-columns: 1.5fr 1fr;

        > li {
          > h1 {
            --dm-text-heading1-font-size: 60px;
            -webkit-text-stroke: 1px var(--dm-color-white);
          }
          > h2 {
            --dm-text-heading1-font-size: 36px;
          }
          > p {
            padding: var(--dm-spacing-secondary) 0;
          }
        }
      }
    }
  }
  @media only screen and (max-width: $screen-tablet-large) {
    > container {
      > ul {
        grid-template-columns: 1.5fr 1fr;

        > li {
          > h1 {
            --dm-text-heading1-font-size: 40px;
          }
          > h2 {
            --dm-text-heading1-font-size: 22px;
          }
          > p {
            padding: var(--dm-spacing-primary) 0;
          }
          > .workstation-img {
            > img {
              height: 250px;
            }
          }
        }
        &.video-workstation {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
  @media only screen and (max-width: $screen-tablet-medium) {
    > container {
      > ul {
        grid-template-columns: repeat(1, 1fr);
        gap: var( --dm-spacing-secondary );
        padding: 0 var( --dm-spacing-primary );

        > li {
          text-align: center;

          &:nth-child(2){
            display: flex;
            flex-direction: column;
          }
          > h1 {
            --dm-text-heading1-font-size: 40px;
          }
          > h2 {
            --dm-text-heading1-font-size: 20px;
          }
          > .workstation-img {
            > img {
              padding: 0 var( --dm-spacing-primary );
              max-width: 100%;
              height: 340px;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: $screen-phone-medium) {
    > container {
      > ul {
        gap: var( --dm-spacing-primary );

        > li {
          text-align: center;

          > h1 {
            --dm-text-heading1-font-size: 28px;
            word-break: break-word;
          }
          > h2 {
            --dm-text-heading1-font-size: 16px;
            word-break: break-word;
          }
          > p {
            padding: 0;
          }
          > .workstation-img {
            > img {
              height: 200px;
            }
          }
        }
      }
    }
  }
}
