@import "../../functions/mixins.scss";
@import "../../functions/functions.scss";

.dm-experience-knowledge {

  > container {
    flex-wrap: wrap;

    .person-image {
      @include flex-center();
      width: calc(40% - var(--dm-spacing-large)) !important;

      > img {
        width: auto;
        max-width: 100%;
        height: 600px;
        clip-path: none !important;
      }
      > svg {
        max-width: 100%;
      }
    }
    .experience-knowledge {
      width: 60% !important;

      > ul {
        @include reset-list();

        > li {
          @include dm-font-medium();
        }
      }
      > .buttons {
        @include flex-row();
        flex-wrap: wrap;
        gap: var( --dm-spacing-primary );

        > a {
          display: flex;
          flex-direction: row;
          gap: 6px;


          > svg {
            @include svg-color( var( --dm-color-white ) );
            @include fix-height(22px);
            width: auto;
            margin: 0;
          }
          > span {
            @include limit-line-text(1);
            @include dm-font-default();
            --dm-text-default-font-weight: 600;
            --dm-text-default-color: var( --dm-color-white );
          }
          &:hover {
            > svg {
              @include svg-color( var( --dm-link-color-primary ) );
            }
            > span {
              --dm-text-default-color: var( --dm-link-color-primary );
            }
          }
        }
      }
      > .dm-knowledge-lists-icons {
        > ul {
          max-width: 650px;
          gap: var(--dm-spacing-primary);
          justify-content: flex-start;

          > li {
            > a {
              > svg {
                @include fix-height(25px);
              }
            }
          }
        }
      }
    }
    .experience-text {
      width: 100% !important;
    }
  }
  @media only screen and (max-width: $screen-desktop-small) {
    > container {
      .person-image {
        > img {
          height: 470px;
        }
      }
    }
  }
  @media only screen and (max-width: $screen-tablet-large) {
    > container {
      align-items: start;

      .person-image {
        > img {
          height: 350px;
        }
      }
    }
  }
  @media only screen and (max-width: $screen-tablet-medium) {
    > container {
      flex-direction: column;
      gap: var( --dm-spacing-secondary );

      .person-image {
        width: 100% !important;

        > img {
          height: 300px;
        }
        > svg {
          width: 400px !important;
          max-width: 50% !important;
          right: 40% !important;
          left: 40% !important;
        }
      }

      .experience-knowledge {
        width: 100% !important;

        > .buttons {
          @include flex-center();
        }
      }

    }
  }
  @media only screen and (max-width: $screen-tablet-small) {
    > container {
      gap: var( --dm-spacing-secondary );

      .experience-knowledge {
        > .dm-knowledge-lists-icons {
          > ul {
            gap: calc(var(--dm-spacing-primary) / 2 );

            > li {
              > a {
                > svg {
                  @include fix-height(20px);
                }
              }
            }
          }
        }
      }

    }
  }
  @media only screen and (max-width: $screen-phone-small) {
    > container {
      gap: var(--dm-spacing-primary);
    }
  }
}


body, body.theme-light {
  .dm-experience-knowledge {
    > container {
      > div {
        > ul {
          > li {
            --dm-text-medium-color: var( --dm-color-gray );
          }
        }
      }
    }
  }
}
body.theme-dark {
  .dm-experience-knowledge {
    > container {
      > div {
        > ul {
          > li {
            --dm-text-medium-color: var( --dm-color-white );
          }
        }
      }
    }
  }
}
