[data-animation=shine] {
  border: 5px solid red !important;
}
[data-animation=shine]:after {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  content: "";
  display: block;
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  -webkit-transform: skewX(-25deg);
          transform: skewX(-25deg);
  width: 50%;
  z-index: 2;
  pointer-events: none;
}
[data-animation=shine]:hover {
  right: -100%;
}