@import "../functions/mixins.scss";
@import "../functions/functions.scss";

#header {
    position: fixed;
    background-color: var(--dm-color-secondary);
    color: #fff;
    width: 100%;
    min-height: 50px;
    height: 66px;
    display: flex;
    z-index: 999;
    margin: 0px;
    padding: var( --dm-spacing-primary ) 0;

    > section {
        @include container();
        @include padding-x();
        @include flex-row();
        align-items: center;
        justify-content: space-between;
        gap: var( --dm-spacing-secondary );

        .dm-logo {
            @include flex-row();
            align-items: center;
            gap: var( --dm-spacing-primary );

            .dm-logo-img {
                @include fix-size(60px);
                @include border-radius(60px);
                border: 3px solid var( --dm-color-white );
                position: relative;
                overflow: hidden;
                transition: box-shadow 0.3s;
                box-shadow: 0px 0px 0px #22222200;
                background: var( --dm-background-color-primary );
                background-image: linear-gradient(var( --dm-background-color-primary ), var( --dm-background-color-primary ) 20%, var( --dm-background-color-secondary ) 120%);

                [data="dm-logo-front"] {
                    @include fix-size(60px);
                    transition: top 0.3s, filter 0.4s;
                    filter: drop-shadow(0px 0px 0px #22222200);
                    position: absolute;
                    top: 10%;
                }
                &:hover {
                    box-shadow: 3px 3px 3px #222;
                    transition: box-shadow 0.3s;

                    [data="dm-logo-front"] {
                        @include fix-size(60px);
                        transition: top 0.3s, filter 0.4s;
                        filter: drop-shadow(5px 5px 6px #222);
                        top: 5%;
                    }
                }
            }
            .dm-logo-text {
                @include flex-row();
                flex-wrap: wrap;
                gap: calc( var( --dm-spacing-primary ) / 2 );
                text-shadow: 0px 0px 0px #22222200;
                transition: text-shadow 0.3s;

                > span {
                    @include dm-font-big();
                    --dm-text-big-color: var( --dm-color-white );
                    --dm-font-family: var( --dm-font-family-secondary );

                    &:first-of-type {
                        --dm-text-big-font-weight: 800;
                    }
                }
                &:hover {
                    text-shadow: 3px 3px 3px #222;
                    transition: text-shadow 0.3s;
                }
            }
        }
        .dm-menu {
            @include flex-row();
            gap: var( --dm-spacing-secondary );
            align-items: center;

            &.navbar-active {
                left: 0 !important;
                z-index: 100;
                overflow: auto;
            }
            > ul {
                @include reset-list();
                @include flex-row();
                gap: var( --dm-spacing-secondary );
                position: relative;

                > li , > li > .dm-submenu > li {
                    > a {
                        @include dm-font-big();
                        --dm-text-big-color: var( --dm-color-white );
                        padding: calc( var( --dm-spacing-primary ) / 3 ) 0;
                    }
                    a:after {
                        content: '';
                        display: block;
                        height: 3px;
                        width: 0px;
                        margin-bottom: -3px;
                        background: transparent;
                        transition: width .5s ease, background-color .5s ease;
                    }
                    :hover:after {
                        width: 100%;
                        background: #fff;
                    }
                }
                li > .dm-submenu {
                    @include border-radius( var( --dm-border-radius-primary ) );
                    @include reset-list();
                    @include flex-column();
                    justify-content: center;
                    padding: 0;
                    gap: var( --dm-spacing-primary );
                    position: absolute;
                    border: 2px solid var( --dm-color-primary );
                    background-color: var( --dm-color-secondary );
                    max-width: 0%;
                    opacity: 0;
                    display: none;
                    margin-top: 4px;
                    transition: opacity 0.5s, height 0.3s, max-width 0.8s, padding 0.2s;
                    z-index: 5;


                    &:hover {
                        padding: var( --dm-spacing-primary );
                        opacity: 1;
                        height: auto;
                        max-width: 100%;
                        display: flex;
                    }
                    > li > a {
                        @include dm-font-medium();
                        --dm-text-medium-color: var( --dm-color-white );
                        --dm-text-medium-font-weight: 500;

                        &:after {
                            height: 2px;
                            margin-bottom: -2px;
                        }
                    }
                }
                > li:hover {
                    > .dm-submenu {
                        padding: var( --dm-spacing-primary );
                        opacity: 1;
                        height: auto;
                        max-width: 100%;
                        display: flex;
                        transition: opacity 0.5s, max-height 0.3s, max-with 0.5s, padding 0.2s;
                    }
                }
            }
            .dm-menu-utility {
                @include flex-row();
                @include flex-center();
                gap: var( --dm-spacing-secondary );

                .dm-search {
                    @include flex-center();
                    @include fix-size(30px);
                    @include border-radius(30px);
                    cursor: pointer;
                    border: 2px solid var( --dm-color-white );
                    padding: calc( var( --dm-spacing-primary ) / 2 );

                    svg {
                        @include fix-size(20px);
                        @include svg-color(var(--dm-color-white));
                        transform: rotate(-10deg);
                        transition: transform 0.4s;

                        $duration: 0.3s;
                        $increment: 0.2s;
                        $numPaths: 3;

                        @for $i from 1 through $numPaths {
                            > path:nth-last-child(#{$i}) {
                                transition: transform calc(#{$duration} + #{$i * $increment}) ease;
                                transform-origin: center;
                                transform: scaleY(0) translateY(100%);
                            }
                        }
                    }
                    &:hover {
                        background-color: var( --dm-background-color-primary );
                        svg {
                            $duration: 0.3s;
                            $increment: 0.2s;

                            $numPaths: 3;

                            transform: rotate(0deg);
                            transition: transform 0.4s;

                            @for $i from 1 through $numPaths {
                                > path:nth-last-child(#{$i}) {
                                    transform: scaleY(1);
                                    transition: transform calc(#{$duration} + #{$i * $increment}) ease;
                                }
                            }
                        }
                    }
                }
            }
        }
        .dm-navbar-toggle {
            @include flex-center();
            @include fix-size(30px);
            @include border-radius(30px);
            display: none;
            cursor: pointer;
            border: 2px solid var( --dm-color-white );
            padding: calc( var( --dm-spacing-primary ) / 2 );

            > svg {
                @include svg-color(var(--dm-color-white));

                > path {
                    @include transition( transform 400ms 100ms );
                }
            }
            &:hover {
                background-color: var( --dm-background-color-primary );
            }
            &.active {
                background-color: var( --dm-background-color-primary );
                position: fixed;
                z-index: 100;
                top: 22px;
                right: var( --dm-spacing-secondary );

                > svg {
                    > path {
                        @include transition( transform 400ms );
                    }
                    > path:nth-child(1) {
                        @include transform( rotate(45deg) translateY(-2px) translateX(2px) );
                    }
                    > path:nth-child(2) {
                        @include transform( rotate(45deg) translateY(-10px) translateX(2px) );
                        opacity: 0;
                    }
                    > path:nth-child(3) {
                        @include transform( rotate(-45deg) translateY(-3px) translateX(-9px) );
                    }
                }
            }
        }
    }
    @media only screen and (max-width: $screen-tablet-large) {
        > section {
            .dm-navbar-toggle {
                display: flex;
            }
            .dm-menu {
                position: fixed;
                width: 400px;
                height: 100vh;
                top: 0;
                left: -450px;
                flex-direction: column;
                background-color: var( --dm-background-color-secondary );
                background-image: linear-gradient(var( --dm-background-color-secondary ), var( --dm-background-color-primary ) 40%, var( --dm-background-color-secondary ) 120%);
                transition: 0.3s ease;
                overflow: auto;
                box-shadow: 3px 3px 17px #222;

                > ul {
                    padding: var( --dm-spacing-medium ) 0;
                    flex-direction: column;

                    > li {
                        .dm-submenu {
                            display: flex;
                            padding: var( --dm-spacing-primary ) 0  ;
                            opacity: 1;
                            position: relative;
                            max-width: 100%;
                            height: auto;
                            background-color: transparent;
                            border: none;

                            &:hover {
                                height: auto;
                                padding: var( --dm-spacing-primary ) 0  ;
                            }
                        }
                        &:hover {
                            .dm-submenu {
                                height: auto;
                                padding: var( --dm-spacing-primary ) 0  ;
                            }
                        }
                    }
                }
                .dm-search {
                    margin-right: var( --dm-spacing-tertiary  );
                }
                .dm-menu-utility {
                    padding-bottom: var( --dm-spacing-secondary );
                }
            }
        }

    }
    @media only screen and (max-width: $screen-phone-large) {
        > section {
            .dm-menu {
                width: 100%;
                left: -110%;
            }
        }
    }
    @media only screen and (max-width: $screen-phone-medium) {
        > section {
            .dm-logo {
                .dm-logo-text {
                    gap: 2px;
                    flex-direction: column;

                    > span {
                        @include dm-font-extra-small();
                        --dm-text-extra-small-font-family: var( --dm-font-family-secondary );
                        --dm-text-extra-small-color: var( --dm-color-white );

                        &:first-of-type {
                            --dm-text-extra-small-font-weight: 800;
                        }
                    }
                }
            }
            .dm-menu {
                .dm-menu-utility {
                    gap: calc( var( --dm-spacing-primary ) / 3 );
                }
            }
        }
    }
    @media only screen and (max-width: 240px) {
        > section {
            .dm-logo {
                .dm-logo-text {
                    display: none;
                }
            }
        }
    }
}