@import "../../functions/mixins.scss";
@import "../../functions/functions.scss";

.dm-portfolio-categories {
  background-color: var( --dm-background-color-secondary );

  > container {
    > div {
      @include padding-x();
      @include flex-column();
      gap: var( --dm-spacing-secondary );

      > h2 {
        @include dm-font-heading1();
        --dm-text-heading1-color: var( --dm-color-white );
        --dm-text-heading1-font-family: var( --dm-font-family-secondary );
        --dm-text-heading1-letter-spacing: var( --dm-spacing-primary );
        text-align: center;

        &:after {
          content: "";
          display: block;
          height: 3px;
          width: 10%;
          max-width: 35%;
          margin: 4px auto;
          background-color: var( --dm-background-color-white );
          -webkit-transition: width 0.5s ease,background-color 0.5s ease;
          transition: width 0.5s ease,background-color 0.5s ease;
        }
      }
      > ul {
        @include reset-list();
        @include flex-center();
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: start;
        gap: var( --dm-spacing-small );
        padding: var( --dm-spacing-small ) 0;

        > li {
          width: 100%;
        }
      }
    }
  }
  @media only screen and (max-width: $screen-tablet-large) {
    > container {
      > div {
        > ul {
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
  @media only screen and (max-width: $screen-tablet-small) {
    > container {
      > div {
        > h2 {
          @include dm-font-heading3();
          --dm-text-heading3-color: var( --dm-color-white );
          --dm-text-heading3-font-family: var( --dm-font-family-secondary );
          --dm-text-heading3-letter-spacing: 4px;
        }
        > ul {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
}