@import "templates-design-parts/action-keyframes";
@import "templates-design-parts/action-transistions";

@import "templates-design-parts/section-svg-list";
@import "templates-design-parts/element-socials-list";

@import "templates-design-parts/animation-shine";
@import "templates-design-parts/animation-ocean";
@import "templates-design-parts/animation-grid-background";
@import "templates-design-parts/animation-circles-background";
@import "templates-design-parts/animation-blurred-lines";

@import "templates-design-parts/element-scrollbar";
@import "templates-design-parts/element-list-design";
@import "templates-design-parts/element-popup";
@import "templates-design-parts/element-preloader";
@import "templates-design-parts/element-input-range";
@import "templates-design-parts/element-custom-cursor";
@import "templates-design-parts/element-custom-select";
@import "templates-design-parts/element-contact-form";
@import "templates-design-parts/element-hero";
@import "templates-design-parts/element-category-card";
@import "templates-design-parts/element-category-experience-card";
@import "templates-design-parts/element-resume-card";
@import "templates-design-parts/element-person-circle-card";
@import "templates-design-parts/element-theme-switcher";
@import "templates-design-parts/element-video-container";
@import "templates-design-parts/element-knowledge-list-icons";
@import "templates-design-parts/element-post-wallpaper";
@import "templates-design-parts/element-post-web-gallery";
@import "templates-design-parts/element-post-web-media-gallery";
@import "templates-design-parts/element-post-media-gallery";
@import "templates-design-parts/element-post-media-videos";
@import "templates-design-parts/element-post-devices";
@import "templates-design-parts/element-slider";
@import "templates-design-parts/element-carousel-posts-list";
@import "templates-design-parts/element-carousel-posts-list-devices";
@import "templates-design-parts/element-carousel";
@import "templates-design-parts/element-jobs-graph";

@import "templates-design-parts/section-post";
@import "templates-design-parts/section-posts-list";
@import "templates-design-parts/section-carousel-posts-list";
@import "templates-design-parts/section-debug";
@import "templates-design-parts/section-contact-data";
@import "templates-design-parts/section-contact-details";
@import "templates-design-parts/section-resume-data";
@import "templates-design-parts/section-about";
@import "templates-design-parts/section-experience-categories";
@import "templates-design-parts/section-experience-knowledge";
@import "templates-design-parts/section-summary-experience";
@import "templates-design-parts/section-job";
@import "templates-design-parts/section-catalog-categories";
@import "templates-design-parts/section-portfolio-showcase";
@import "templates-design-parts/section-web-development-experience";
@import "templates-design-parts/section-web-development-description";
@import "templates-design-parts/section-workstation-design";
@import "templates-design-parts/section-workstation-header";
@import "templates-design-parts/section-workstation-products";
@import "templates-design-parts/section-search";

@import "templates-design-parts/section-blog-header";
@import "templates-design-parts/section-blog-posts";



